{% if is_granted('ROLE_ADMIN') %}
<section class="section users">
    <div class="box-big container">
        <h2 class="h3 headline">List of all users</h2>
        <div class="table-wrapper">
            <table class="users-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Level</th>
                    <th>Created</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }} {{ user.lastname }}</td>
                        <td>{{ user.email }}</td>
                        <td></td>
                        <td>{{ user.createdat|date('d-m-Y') }}</td>
                        <td>
                            <button class="button">Details</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endif %}