<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">

    <meta property="og:title" content="Susanoo" >
    <meta property="og:type" content="website" >
    <meta property="og:description" content="You entried to the Susanoo" >
    <meta property="og:locale" content="pl_PL" >
    <meta property="og:locale:alternate" content="en_GB" >

    <title>{% block title %}Susanoo{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('build/main.css') }}">

    <script src="{{ asset('build/runtime.js') }}" defer></script>
    <script src="{{ asset('build/vendor.js') }}" defer></script>
    <script src="{{ asset('build/main.js') }}" defer></script>
</head>
<body>
    {% block header %}
        <header class="page-header">
            <div class="wrapper-sus">
                <nav class="navigation">
                    <form class="search-form">
                        <label for="search"></label>
                        <input type="search" class="input" id="search">
                    </form>
                    <ul>
                        <li>
                            <button class="button-header notification"></button>
                            <span>notifications</span>
                        </li>
                        <li>
                            <button class="button-header language"></button>
                            <span>language</span>
                        </li>
                        <li>
                            <button class="button-header statistic"></button>
                            <span>user activity</span>
                        </li>
                        <li>
                            <div class="profile">
                                <div>
                                    <img src="{{ asset('src/pics/img-2.jpg') }}" alt="Profile image">
                                </div>
                                <div class="informations">
                                    <div class="name">Dawid Ol</div>
                                    <div class="profession">Fullstack Developer</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <button class="button-menu" data-button-menu></button>
                            <span>settings</span>
                            <div class="dropdown-menu" data-dropdown-menu>
                                <a href="#">Settings</a>
                                <form action="#" method="post">
                                    <button type="submit">Logout</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
    {% endblock %}
    <main>
        {% block main %}{% endblock %}
    </main>
    {% block footer %}{% endblock %}
</body>